# Git
.git
.gitignore
.github

# Node.js
node_modules
npm-debug.log

# Tests
tests
jest.config.js

# Documentation
docs
*.md
LICENSE

# Development
.vscode
.idea
*.log
*.tmp

# Other
.DS_Store
.env
.env.*
*.swp
*.swo