.refreshTimer {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
  }
  
  .progressBar {
    height: 10px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 0;
    flex-grow: 1;
  }
  
  [data-theme="dark"] .progressBar {
    background-color: #444;
  }
  
  .progress {
    height: 100%;
    background-color: var(--secondary-color);
    transition: width 0.3s ease;
  }
  
  .refreshTimerText {
    min-width: 30px;
    text-align: right;
  }
  
  @media (max-width: 600px) {
    .refreshTimer {
      width: 100%;
    }
  }