.statusIndicator {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .statusLight {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #ccc;
  }
  
  .running {
    background-color: var(--success-color);
  }
  
  .syncing {
    background-color: var(--warning-color);
  }
  
  .stopped, .error {
    background-color: var(--danger-color);
  }
  
  .controlButtons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }